*.class

# Package Files #
*.jar
*.war
*.ear

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
out

# Location of the SDK. This is only used by Gradle.
local.properties